#groupBody{
background-color: black;
 background-position: center;
 background-size: cover;
 height: 90vh;
 width: 100vw;
}

.groupCreate {
 margin: auto;
 padding: 2vh 0;
}

.groupInput {
 background-color: transparent;
 border-bottom-color: white;
 border-top-style: none;
 border-left-style: none;
 border-right-style: none;
 width: 50vw;
 font-size: 4vw;
}

.groupLabel {
 width: 40vw;
 font-size: 5vw;
 text-align: center;
 display: inline-block;
}



#groupCreateButton {
  margin-top: 2vh;
  margin-left: 32vw;
  width: 32vw;
  height: 10vw;
  background-color: white;
  border-style: none;
  font-size: 5vw;

}

#resultsTable {
  width: 90vw;
  background-color: rgba(107, 189, 0, .5);
  color: red;

}

#mapDiv {
	width:40vh;
	height: 40vh;

}