#searchContainer {
  background-image: url("../img/search.jpg");
  background-position: center;
  background-size: cover;
  min-height: 90vh;
  height: auto;
  width: 100vw;
}

#searchInput {
  padding: 25vh 5vw;
}

#searchInput #searchTerm {
  font-size: 5.5vw;
  width: 90vw;
  opacity: .5;
}

#searchInput button {
  font-size: 6vw;
  background-color: white;
  border-style: none;
  opacity: .7;
  width: 44vw;
  margin: 2vh 23vw;
  height: 5vh;
}

.radioSearch {
  float: left;
  display: inline;
  opacity: 0;
}

.button {
  float: left;
  width: 21.5vw;
  background-color: white;
  margin: 1vh .5vw;
  height: 5vh;
  text-align: center;
  opacity: .75;
}

#multiButtonSearch {
  align-content: center;
}

.searchLabel {
  text-align: center;
  margin-top: 1.5vh;
  margin-right: 1.5vw;
  display: inline-block;
  font-size: 2vh;
}

.selectedButton  {
  background-color: #3f5caf;
  color: white;
}

#searchError {
  display: none;
  text-align: center;
  color: red;
}

#resultsTable {
  width: 90vw;
  background-color: rgba(252, 252, 252, .5);
  color: black;

}


#resultsTable tr, #resultsTable td {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;


}

#resultsTable td {
  padding: 2vh 0;

}

#resultsTable td a {
  text-decoration: none;
  color: black;


}

@media screen and (min-width: 550px){


  #searchInput #searchTerm {
    font-size: 3.5vw;
    width: 90vw;
    opacity: .5;
  }

  #searchInput {
    padding: 10vh 5vw;
  }

  #searchInput button {
    font-size: 4vw;
    background-color: white;
    border-style: none;
    opacity: .7;
    width: 30vw;
    margin: 2vh 30vw;
    height: 14vh;
  }

  .button {
    float: left;
    width: 21.5vw;
    background-color: white;
    margin: 1vh .5vw;
    height: 12vh;
    text-align: center;
    opacity: .75;
    font-size: 4vw;
  }

  .searchLabel {
    text-align: center;
    margin-top: 1.5vh;
    margin-right: 2.5vw;
    display: inline-block;
    font-size: 4vh;
  }

  .selectedButton  {
    background-color: #3f5caf;
    color: white;
  }

  #resultsTable td {
    padding: 4vh 0;

  }

  #searchError {
    font-size: 4vw;
  }
}

